<div class="site-wrapper">
    <header class="main-header author-head " style="background-image: url(images/background.jpg)">
        <nav class="main-nav overlay clearfix">
        </nav>
    </header>

    <section class="author-profile inner">
        <figure class="author-image">
            <div class="img" style="background-image: url(images/avatar.jpg)"><span class="hidden">{{$root.authorName}}'s Picture</span></div>
        </figure>
        <h1 class="author-title">{{$root.authorName}}</h1>
        <h2 class="author-bio">{{$root.myDescription}}</h2>
        <div class="author-meta">
            <span class="author-location icon-location">Chernivchi, UA</span>
            <span class="author-link icon-link"><a ng-href="{{$root.facebookLink}}" target="_blank">Facebook social link</a></span>
            <span class="author-stats"><i class="icon-stats"></i> 59 posts</span>
        </div>
    </section>

    <main class="content" role="main">

        <div class="extra-pagination inner">
            <nav class="pagination" role="navigation">
                <span class="page-number">Page 1 of 6</span>
                <a class="older-posts" href="/">Older Posts <span aria-hidden="true">→</span></a>
            </nav>

        </div>

        <article class="post" ng-repeat="article in $articleList.articleList">
            <header class="post-header">
                <h2 class="post-title"><a ui-sref='article({article_link: article.link})'>{{article.title}}</a></h2>
            </header>
            <section class="post-excerpt article-short-text">
              <span ng-bind-html='$root.toTrustedHTML( article.text )'></span>
            </section>
            <footer class="post-meta">
                <a href="/">{{$root.authorName}}</a>

                <time class="post-date">{{article.createdAt | date: "dd MMMM yyyy"}}</time>
                <!-- comment count for Disqus begins -->
                <a class="hidden" href="/follow-my-adventures/#disqus_thread" class="post-comment-count">{{article.commentsCount}} Comments</a>
                <!-- comment count for Disqus ends -->
            </footer>
        </article>
        <nav class="pagination" role="navigation">
            <a class="newer-posts" ng-if="$articleList.page != 1" ng-click="$articleList.changePage(-1)"><span aria-hidden="true">←</span> Newer Posts</a>
            <span class="page-number">Page {{$articleList.page}} of {{$articleList.totalPage}}</span>
            <a class="older-posts" ng-if="$articleList.page < $articleList.totalPage" ng-click="$articleList.changePage(1)">Older Posts <span aria-hidden="true">→</span></a>
        </nav>
    </main>

    <footer class="site-footer clearfix">
        <section class="copyright"><a href="#/">Nazarco Inc.</a> © 2017</section>
        <section class="poweredby">Chernivchi Ukraine</section>
      <!--<section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>-->
    </footer>
</div>
